* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: white;
  background: #e1e1e1;
}

.main-container {
  width: 100%;
  position: relative;
  overflow: hidden;

  max-width: 330px;
  border-radius: 50px;
  height: calc(100dvh - 40px);
  max-height: 720px;
  border: 9px solid #060606;
  box-shadow: 0 0 4px 2px #c0b7cd, 0 0 0 6px #342c3f, 0 0 0px 7px black;
}

.second-container {
  width: 100%;
  height: 100%;
  display: flex;
  width: 200%;
  margin-left: -100%;
}

.three-section {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}

.tab-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  user-select: none;
  padding: 30px 0;
  box-sizing: border-box;
}

.headercard {
  padding: 0;
}

.scroll::-webkit-scrollbar {
  width: 0px;
}

.profile-img {
  width: 100%;
  height: 445px;
  max-height: 445px;
  margin: 0;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(225deg, #184a67, #1d587a);
}

.imagemascota {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.info-profile {
  width: 100%;
  position: relative;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
  z-index: 1;
  padding: 10px 0 30px;
  background-color: #a2044e;
}

.titulo {
  font-size: 56px;
  line-height: 80px;
}

.container-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.iconsdescripcion {
  font-size: 40px;
  margin-bottom: 12px;
}

.descripcion-mascota {
  text-align: left;
  width: calc(100% - 50px);
  margin: 30px auto 40px;
  font-size: 14px;
  line-height: 22px;
}

.linea-top-call {
  border: 1px solid #ffffff24;
}

.container-contactme {
  padding: 20px 15px 5px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 90px;
}

.icons-contactme {
  box-shadow: -2px 2px 8px 0px #00000099, 1px -1px 1px -1px #ffffff99;
}

.icons-contactme {
  position: relative;
  font-size: 25px;
  border-radius: 10px;
  width: calc(25% - 15px);
  margin-bottom: 15px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  width: calc(50% - 15px);
}