body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-bar .w3-button {
  padding: 16px;
  margin-right: 180px; /* Ajusta el valor para agregar más espacio */
}

@media (max-width: 767px) {
  .w3-bar .w3-button {
    margin-right: 110px; /* Ajusta el valor para agregar más espacio en pantallas móviles */
  }
}

.custom-lila {
  background-color: #892be249; /* Cambia el valor del color a tu preferencia */
}